body{
    margin: 1px;
background: rgba(0, 0, 0, 0.055);
}
.flex-box{background-color: rgba(160, 81, 45, 0.308);
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
position: sticky;
top: 2px;
    
}
a{
    font-size: 25px;
    text-decoration: none;
    color: crimson;
}
/* =================hr and p arena====================== */
hr{position: relative;
    border-top: 10px dotted silver;
    width: 100px;
    border-bottom: 0;
    border-left: 0; 
    border-right: 0;
    margin: 100px 0;
    color: silver;
    left: 45%;

}
b{
    color: darkblue;
    font-size: 30px;
    background: radial-gradient(#555555, #4444bb, #666bfb, #115411, #881388, #222255, #777755, #999999);
padding: 30px;
text-align: center;
    
}

/* =================grid arena================== */
.main{
    border: brown;
    display: grid;
    grid-template-columns: auto auto auto;
    background: url(../asserts/images/images\ 13.jpg);
 background-repeat: repeat-x;
    background-size: cover;
    color: red;

}
.main div{
    padding: 50px; 
    border: solid 5px yellowgreen;
    gap: 10px;
    padding: 50px;
    text-align: center;
    background-color: royalblue;
    font-size: 60px;


}
.main .item-one{grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    } 
.main .item-nine{
}
.main .item-four{
}.main .item-two{
}

/* ======================transparent backfround======================= */
.transparency{position: relative;
    left: 28%;
    border: transparent; 
    background: url(../asserts/images/images\ 22.jpg);
    height: 500px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 600px;
   
}
h1{
    color: teal;
    font-size: 50px;
justify-content: center;
align-items: center;
background-color: black;
padding:0 ;
transition: transform 1.5s,2s ease-in-out;
}
h1:hover{
    transform: rotate3d(360deg);

}

.empty{display: flex;
    position: absolute;
    background: #88f;
    opacity: .3;
    height: 500px;
    width: 600px;
}
.first-p{
    font-size: 40px;
    margin-left: 40%;
}
/* =========================my grid container======================= */
.my-grid{
    display: grid;
    grid-template-areas: "header header header header price price "
    "ball ball pen pen pen hp"
    "boast boast pen pen pen hp"
    "boast boast pen pen pen hp"
    
    
    
    ;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px; */
    border: solid 2px blue;
    padding: 10px;
    background-color: lightblue;
    /* grid-template-rows: 100px 100px; */
    grid-gap:10px;
     /*
    height: 100vh;
     
    justify-content: center;
    align-content: space-evenly;*/

 
}
.my-grid > div{border: solid 2px green;
    background-color: grey;
    color: #66bfbf;
font-size: 50px;
text-align: center;

/* to use grid area, you do the following: for example;2/3/7/5 where the values 2 stands for grid-row-start,
 3 stands for grid-column-start while 7stands for grid-row-end and 5 for grid-column-end 
 therefore the oder is; grid-rows-tart/ grid-column-start/ grid-row-end/ grid-column-end*/
}
.my-grid .item-1{
    grid-area:price;
    /* grid-area: 2/2/5/5; */
}
/* .my-grid .item-9{grid-row: 1/span 5; */
.my-grid .item-12{
    grid-area:header;
}
.my-grid .item-3{
    grid-area: pen;
}
.my-grid .item-7{
    grid-area: ball;
}
.my-grid .item-11{
    grid-area: boast;
}

.my-grid .item-6{
    grid-area: hp;
}

.hov{
    margin: 0;
    padding: 0;

}
.btnn{
    border: solid darkcyan;
    padding: 10px;
    margin: 10PX;
    font-size: 20px;
    }
    .btnn{
     
    }
    .btnn1::before,.btnn2::before{
        content: "";
        position: absolute;
        top: 180%;
        
        color:white;
    }
    .btnn3::before, .btnn4::before{
        color: none;
        z-index: -1;
    }
    .btnn1:hover, .btnn2:hover{
color:red ;
border-radius: 0 0 50% 50%;
background-color: darkmagenta;


    }
/* ===========================form section=========================== */
.form-f{
    background: url(../asserts/images/aa.jpg);
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 500px;
    position: relative;
    left: 30%;
    border-radius: 5px;
    transition: transform 2s ease, 2s ease;
    
}
input, select{
    background-color: transparent;
    border: lightslategray solid;
}
form{margin: 0;

    
    background-color:  rgba(173, 216, 230, 0);
}
.hey{font-size: 15px;

    padding: 10px 250px 10px 10px;
    border-radius: 20px;
    background: transparent;

}
p{
    font-size: 15px;
text-transform: capitalize;
font-size: 20px;
color: lightskyblue;
}
.inp{
    padding: 2px 175PX;
    text-align: center;
    background-color: darkcyan;
    font-size: 40px;
    border-radius: 30px;
    transition: transform 2s ease, 2s ease;
}
.inp:hover{
    background-color: turquoise;
    border-collapse: collapse;
    color: red;

}
/* =======================hover testing=================== */
    
h6{
    color: maroon;
    font-size: 60px;
    padding: 5px 15px;
    
    text-align: center;
    text-transform: capitalize;



}
h6:hover{transition: transform 2s ease, 3s ease;
    transform: translateY(10px);
    transform: skewX(20deg);
    border: mediumorchid solid 2px;
    background-color: mediumorchid;
    border-radius: 50%;
    color: white;



}
table{
    position: relative;
    left: 10%;
    border: solid rgb(56, 56, 45) 5px;
    border-collapse: collapse;
}
th{font-size: 30px;
    background-color: magenta;
    border: rgb(56, 56, 46) solid 2px;
    padding: 20px 50px 0;
}
td{
    border: solid rgb(114, 114, 62) 2px;
    padding: 20px 50px 0;
font-size: 20px;
}
.idea{
    background-color: lightblue;
}
.no{
    background-color: lightgreen;
}
.plum{
    background-color: mediumorchid;
}.idium{
    background-color: salmon;
    
}button{
    background-color: teal;
    transition: transtorm;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40%; 
    
}
button:hover{
    transition:transform 1s ease, 1.5s ease;
    background-color: lightseagreen;
    transform: scaleY(1.5);
      transform: rotateZ(360deg);
    transform: skew(30deg);
    transform: translateZ(10px); 
}
/* ============================year=========================== */
.year{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10,1fr);
    height: 100vh;

}.year div{
    padding: 30px;
    background-color: coral;
    border: chartreuse solid 1px;
    align-content: center;
    justify-content: center;
    color: white;

}
.august{
     grid-area: 1/4/ 5/4; 
     background-image: url(../asserts/images/cc.jpg);
     background-size: contain;
     background-repeat: round;
}
.february{
    grid-area:  2/2/6/4;
    background-image: url(../asserts/images/aa.jpg);
    background-size: contain;
    background-repeat: round;
}
.january{
    grid-area: 1/1/5/2;
    background-image: url(../asserts/images/bb.jpg);
    background-size: contain;
    background-repeat: round;
}
.june{
    grid-area: 1/2/2/4;
}
.september{
    grid-area: 7/2/8/4;
}
.december{
    grid-area: 6/1/8/2; 
    background-image: url(../asserts/images/dd.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    opacity: .3;


}
.all{
    grid-area: 8/1/10/3;
}
.april{
    grid-area: 6/4/8/5;
    background-image: url(../asserts/images/ee.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    opacity: .3;
}
.april:hover{
    opacity: 1;
}
.november{
    grid-area: 8/3/10/5;

}.year .august:hover{
    transition: transform 2s ease-in-out 2s ease;
    transform: rotate(360deg);
    border-radius: 100%;
}
.lone-ball{
    padding: 5px;
    position: relative;
    border: chartreuse solid 10px;
 }
 
.lone-ball img{
    margin: 50px;
    animation-name: lone;
    animation-duration: 4s;
    animation-timing-function:linear ;
} 
/* .lone-ball img:hover{
    margin: 50px;
    animation-name: lone;
    animation-duration: 3s;
    animation-timing-function:linear ;
} */
@keyframes lone{

    0%{
    left: 0;
    top: 0;
}
    25%{
        left: 100%;
        top: 0;
    }
50%{
    left: 100%;
    bottom: 0;
}
75%{
    left: 0;
    top: 100%;
}
100%{
    top: 0;
    left: 0;
}
}
